.note-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.note-container{
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}
.btn-round{
    width: 50%;
    height: 2rem;
    border-radius: 50%;
}
.add-note-inp{
    width: 20rem;
    padding: 10px;
    border: transparent;
    font-size: large;
}
.tag-btn-container{
    display: flex;
    gap: 8rem;
    align-items: end;

}
.colors-wrap{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
.tag-btn-container>select{
    height: 2rem;
}